@import "reset.css";
html{
    height: 100%;
}
body{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    /* overflow: hidden; */
}
main{
    height: 100%;
}
.wrap{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.m1{
    background: url(../img/m1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    position: absolute;
    z-index: 10;
    left: 60px;
    bottom: 200px;
    color: #FFF;
    width: 800px;
}
.text h1{
    font-size: 50px;
    font-weight: 800;
    word-break: keep-all;
}
.text h6{
    font-size: 40px;
    white-space: nowrap;
}
.text p{
    font-size: 24px;
    white-space: pre-line;
    word-break: keep-all;
    line-height: 2;
}
.m1 .pos_img{
    position: absolute;
    right: 60px;
    bottom: 100px;
    width: 860px;
}
.m2 .head{
    background: url(../img/m2_t.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.m2 .head p{
    width: 92%;
    margin: 0 auto;
    padding: 100px 0;
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    word-break: keep-all;
    white-space: pre-line;
    line-height: 1.5;
}
.m2_img{
    margin-bottom: 50px;
}
.ex{
    width: 92%;
    margin: 0 auto;
    font-size: 18px;
    color: #666;
    word-break: keep-all;
}
.ex strong{
    color: #000;
    font-weight: 900;
}
.container .sub_h{
    display: flex;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 3px solid #333;
    word-break: keep-all;
}
.container .sub_h h3{
    font-size: 30px;
    font-weight: 600;
}
.container .sub_h p{
    font-size: 24px;
    color: #333;
    margin-left: 100px;
}
.container .sub_m{
    width: 92%;
    margin: 0 auto;
    padding: 50px 0;
}
.m3 .sub_m>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.m3 .sub_m>ul>li:nth-child(1),.m3 .sub_m>ul>li:nth-child(3){
    width: 28%;
}
.m3 .sub_m>ul>li:nth-child(2){
    width: 30%;
}
.m3 .sub_m p{
    text-align: center;
    font-size: 24px;
    word-break: keep-all;
}
.m3 .sub_m p span{
    color: #807bc5;
    font-weight: 600;
}
.m3 .sub_m>small{
    display: block;
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
}

.f_sb{
    display: flex;
    justify-content: space-between;
}
.ma_1{
    margin-bottom: 12px;
}
.m4 table{
    width: 100%;
    border: 4px solid #000;
    word-break: keep-all;
    margin-bottom: 24px;
}
.m4 table td,.m4 table th{
    border: 1px solid #666;
    padding: 12px 24px;
    font-size: 24px;
}
.m4 table th{
    background-color: #999;
    color: #FFF;
    font-weight: 600;
    vertical-align: middle;
}
.m4 table th p:nth-child(1){
    margin-bottom: 12px;
}
.m4 table td{
    text-align: end;
}
.m4 table td:nth-child(1){
    text-align: center;
}
.m4 .f_sb{
    font-size: 18px;
    font-weight: 600;
}
.m4 .chart{
    width: 60%;
    margin: 0 auto;
}
.m5 .dep1{
    margin-bottom: 80px;
}
.m5 .dep1 .flex{
    display: flex;
}
.m5 .dep1>li p:first-child{
    white-space: nowrap;
}
.m5 .dep1>li p{
    font-size: 24px;
    margin-bottom: 24px;
}
.m5 .dep1>li p strong{
    font-weight: 900;
    color: #138f96;
    font-size: 30px;
}
.m5 .dep1>li p span{
    font-size: 30px;
    margin-left: 12px;
    margin-right: 36px;
    white-space: nowrap;
}
.m5 .dep2 li{
    width: 23%;
    text-align: center;
}
.m5 .dep2 figure{
    margin-bottom: 24px;
}
.m5 .dep2 figcaption{
    font-size: 24px;
    word-break: keep-all;
    line-height: 1.3;
}
.m5 .dep2 figcaption>p{
    font-weight: 700;
    font-size: 30px;
}
.m5 .sub_m>p{
    font-size: 24px;
    text-align: center;
}
.m5 .sub_m>p span{
    color: #2580ee;
    font-weight: 600;
}
.m6 .m6_1{
    margin-bottom: 36px;
}
.m6 .m6_2>p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 36px;
}
.m6 .m6_2>table{
    width: 100%;
    margin-bottom: 72px;
}
.m6 .m6_2>table th{
    padding: 24px;
}
.m6 .m6_2>table th:nth-child(1){
    width: 15%;
}
.m6 .m6_2>table td{
    font-size: 24px;
    text-align: center;
    padding: 24px 0;
    word-break: keep-all;
    vertical-align: middle;
}
.m6 .m6_2>ul p{
    font-size: 18px;
    text-align: center;
}
.m6 .m6_2>p:nth-of-type(2){
    font-size: 30px;
}
.m6 .m6_2>p span{
    color: #2580ee;
    font-weight: 600;
}
.m7 table{
    width: 100%;
    margin-bottom: 72px;
}
.m7 table th{
    padding: 24px;
    vertical-align: middle;
}
.m7 table td{
    font-size: 18px;
    text-align: center;
    padding: 24px 0;
    word-break: keep-all;
    vertical-align: middle;
}
.m7 table td span{
    color: #2580ee;
    font-weight: 600;
}
.m7 table td small{
    font-size: 80%;
    white-space: nowrap;
}
.m8{
    background: url(../img/m8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.m8 .text{
    width: 70%;
}
.m8 .text h6{
    margin-bottom: 40px;
}